<?xml version="1.0" encoding="UTF-8"?>
<plugin id="index-njp" name="Nutch Jaunt Parser"
     version="1.0" provider-name="com.edgars.nutch">

   <runtime>
		<library name="index-njp.jar">
			<export name="*"/>
		</library>
		<library name="jaunt1.1.2.jar"/>
		<library name="table.jar"/>
		<library name="client.jar"/>
		<library name="phoenix-4.6.0-HBase-0.98-client.jar"/>
   </runtime>
   
   <requires>
		<import plugin="nutch-extensionpoints" />
  </requires>
  
  <extension id="com.edgars.nutch.Parser"
       name="Nutch Jaunt Parser"
       point="org.apache.nutch.indexer.IndexingFilter">
     <implementation id="index-njp"
         class="com.edgars.nutch.Parser"/>
   </extension>
     
</plugin>